*{
    padding: 0%;
    margin: 0%;
    
}
body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
}
.navbar{
    /* background-color: #e45c5c !important; */
    background: linear-gradient(90deg, rgb(114, 110, 187) 0%, rgb(109, 59, 59) 100%);
    height: 70px !important;
    width: 100% !important;
    z-index: 1;
    
}
.logo{
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 50px;
    line-height: 80px;
}
.navbar-nav{
    float: right;
    margin: 0px 50px 0px 230px !important;
    z-index: 2;
}
.navbar-nav li{
    list-style: none;
    display: inline-block;
    margin: 0px 8px;
    line-height: 80px;
}
.navbar-nav li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 350;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 7px;
    border-radius: 3px;
    margin: 0px 0px 0px 0px !important;
}
.navbar-nav li a:hover{
    color: black;
    
}
a.action,a:hover{
    color: black;
    transition: .5s;
}
.dropdown a{
    text-decoration: none;
    color: white;
    
}
.dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #f59f2e; */
    background-color: #e45c5c !important;
    min-width: 100px;
    margin-top: -15px !important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
   }
   
   .dropdown-content a {
    text-decoration: none !important;
    color: white;
    background-color: #e45c5c !important;
    padding: 5px 16px;
    margin-top: -70px !important;
    text-decoration: none;
    display: block;
   }
   .dropdown-content a:hover {
    color: black !important;
    background-color: #e45c5c !important;
    
   }
   .dropdown:hover .dropdown-content {
    display: block;
   }
   .navbar-nav #icon{
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin: 0px 0px 0px 0px !important;
    cursor: pointer;
    display: none;

}

   @media (max-width:990px) {
    .navbar-nav li a{
        text-decoration: none;
        color: black !important;
        font-size: 15px;
        font-weight: 350;
        text-transform: uppercase;
        border: 1px solid transparent;
        padding: 7px 7px;
        border-radius: 3px;
    }
    .navbar-nav #icon{
        display: block;
        color: black !important;
    }
    .navbar-nav{
        float: right;
        text-align: center;
        padding: 0px 100px 0px 0px !important;
        margin-top: 10px !important;
        background-color: #e45c5c !important;
        width: 100% !important;
        height: 750px !important;
    }
    .navbar-toggler{
        margin: 0px 0px 0px 0px !important;
        height: 40px !important;
        width: 60px !important;

    }
   }